body {
    background-color: $color-white;
    font-size: 16px;
    line-height: 1em;
    color: $color-black;
    letter-spacing: $letter-spacing-no;
    margin-top: 40px;
    scroll-behavior: smooth;

    main {
        background: url(../images/main-decoration.png) 100% 100% no-repeat,
            url(../images/main-bg.png) 0 0 repeat-y;
        background-size: 1000px auto, cover;
    }

    @include mq(w-768) {
        margin: 0;
    }
}
