.section--title {
    display: block;
    @include text($font-size-55,
        $line-height-no,
        $letter-spacing-no,
        700,
        $font-roboto,
        $color-black);
    text-align: center
}

.alink {
    @include text($font-size-14, $line-height-no, $letter-spacing-1, 500, inherit, $color-black);
    padding: 12px 30px;
    border: 1px solid $color-black;
    border-radius: 50px;

    &::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 5px;
        margin-left: 10px;
        margin-bottom: 2px;
    }

}

@include mq(w-768) {

    .section--title {
        font-size: $font-size-38;
        padding: 0 2%;
        line-height: $line-height-sm;
    }
}
