.page__promotion__subtitle {
    margin-top: 6px;
    @include text($font-size-38, $line-height-no, $letter-spacing-no, 400, $font-roboto, $color-black);
    text-align: center;
}

.page__promotion__main {
    background-image: none;
    background-color: $color-white;

    &__inner {
        @include display-1440;
        @include display-flex(row, space-between, stretch);
        flex-wrap: wrap;
        row-gap: 60px;
        margin-top: 60px;
        margin-bottom: 80px;

        &__block {
            width: 48.5%;

            &__image {
                width: 100%;
                display: block;
                margin-bottom: 30px;
            }

            &__title {
                @include text($font-size-32, $line-height-no, $letter-spacing-no, 700, $font-poppins, $color-black);
                margin-bottom: 12px;
            }

            &__subtitle {
                @include text($font-size-24, $line-height-sm, $letter-spacing-no, 700, $font-poppins, $color-black);
                margin-bottom: 12px;
            }

            &__detail {
                @include text($font-size-18, $line-height-sm, $letter-spacing-no, 500, $font-poppins, $color-black);
                margin-bottom: 16px;

                span {
                    display: block;
                    font-weight: 700;
                }
            }

            &__alink {
                display: inline-block;
                @include text($font-size-18, $line-height-no, $letter-spacing-no, 400, $font-poppins, #1a0dab);
                text-decoration: none;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #1a0dab;
                    transform: translateY(-10px) scale(0);
                    transition: transform .3s;
                }

                &:hover {
                    cursor: pointer;

                    &::after {
                        transform: translateY(-10px) scale(1);
                    }
                }
            }
        }
    }
}

@include mq(w-768) {
    .page__promotion__subtitle {
        font-size: $font-size-24;
    }

    .page__promotion__main {

        &__inner {
            @include display-100sp;

            &__block {
                width: 100%;

                &__detail {

                    span {
                        margin-top: 10px;
                    }
                }

                &__alink {
                    text-decoration: underline;
                }
            }
        }
    }

}
