.page__promotion__date {
    margin-top: 16px;
    @include text($font-size-38, $line-height-no, $letter-spacing-no, 400, $font-roboto, $color-black);
    text-align: center;
}

.page__promotion__detail {
    margin-top: 16px;
    @include text($font-size-18, $line-height-sm, $letter-spacing-no, 600, $font-poppins, $color-black);
    margin-bottom: 16px;
    text-align: center;
}

.page__promotion__alink {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.page__promotion__main {
    background-image: none;
    background-color: $color-white;

    &__inner {
        @include display-1440;
        margin-top: 60px;
        margin-bottom: 80px;
    }
}

@include mq(w-768) {
    .page__promotion__subtitle {
        font-size: $font-size-24;
    }

    .page__promotion__date {
        font-size: 24px;
    }

    .page__promotion__detail {
        padding: 0 20px;
    }

    .page__promotion__alink {
        margin-bottom: 30px;
    }

    .page__promotion__main {

        &__inner {
            @include display-100sp;
            margin-bottom: 30px;
        }
    }

}
